html,body,#root{
  height: 100;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}
.app-shell{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.main-content{
  flex: 1;
  display: flex;
  flex-direction: column;

}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  color: black;
}

.container { 
  max-width: 1700px; 
  margin: 0 auto; 
}



.header {
  background: #2563eb;
  padding: 12px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 10px rgba(0,0,0,0.06);
  overflow: visible;
}


.header .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.left-section {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: 700;
}

/* Navigation */
.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: white;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  padding-bottom: 4px;
  transition: 0.2s ease;
}

.nav-links li a:hover {
  border-bottom: 2px solid white;
}


/* HERO SECTION */

.hero {
  background: #f3f6ff;
  padding: 40px 20px;
}

.hero .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero .tag {
  background-color: rgb(213, 240, 249);
  display: inline-block;
  font-size: 12px;
  padding: 8px 16px;
  color: #2563eb;
  border-radius: 50px;
  margin-bottom: 20px;
  margin-left: 10px;
  text-transform: uppercase;
  border: 1px solid #93c5fd;
}

.hero h1 {
  font-size: 40px;
  margin-left: 10px;
}

.hero p {
  font-size: 15px;
  color: #475569;
  margin-left: 10px;
  margin-bottom: 30px;
}

/* BUTTONS */
.btn {
  text-decoration: none;
  padding: 12px 24px;
  border-radius: 12px;
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
}

.btn.primary {
  background-color: #2563eb;
  border: 2px solid #2563eb;
  color: white;
}

.btn.secondary {
  background-color: white;
  color: black;
  border: 2px solid rgb(139,139,139);
}

.btn.primary:hover {
  background-color: #1e40af;
}

.btn.secondary:hover {
  background-color: #f3f4f6;
}

/* FOOTER */
.footer {
  background-color: #2563eb;
  color: white;
  padding: 20px 0;
  margin-top: 40px;
  text-align: left;
}